@import '_cleaning';
@import 'fonts';

:root {
	--black: #000000;
	--white: #ffffff;
	--gray: #CDCDCD;
	--pink: #F1CDB3;
	--matte-black: #4C4C4C;
	--title-black: #545454;
	--bg-dark: linear-gradient(135deg, #5b473a, #201f20);
}

html {
	scroll-behavior: smooth;
}

.header,
.core,
.footer {
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
	color: var(--matte-black);
}

.header {
	color: var(--pink);
}

.core,
.footer {
	background: var(--bg-dark);
}

.container {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: 1024px) {
		padding: 0;
	}
}

.title {
	font-family: Georgia;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.06em;
	text-align: left;
	color: var(--title-black);

	@media (max-width: 1024px) {
		font-size: 32px;
		line-height: 40px;
		max-width: 350px;
		margin: 0 auto 30px;
	}
}

button,
a,
p,
h1,
h2,
span {
	transition: color 0.5s ease-out 0s;
}


svg {
	transition: fill 0.5s ease-out 0s;
}

#transition-none * {
	transition: none !important;
}

//footer

.footer {

	&__container {}

	&__body {
		display: flex;
		height: 350px;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		& a {
			display: flex;
			align-items: center;

			&:hover {
				color: var(--gold);

				& svg {
					fill: var(--gold);
				}
			}
		}

		& svg {
			width: 28px;
			margin-right: 8px;
			transition: fill 0.5s ease 0s;
			fill: var(--white);
		}
	}

	&__year {
		display: flex;
		width: auto;
	}

	&__company {}

	@media (max-width: 1024px) {

		&__year {
			padding-top: 20px;
		}

		&__company {
			padding-bottom: 20px;
		}

		&__body {
			flex-direction: column;
		}
	}
}

//footer