@import '_cleaning';
@import 'fonts';

:root {
	--black: #000000;
	--white: #ffffff;
	--gray: #CDCDCD;
	--dark-gray: #B2B2B2;
	--pink: #F1CDB3;
	--matte-black: #4C4C4C;
	--title-black: #545454;
	--bg-dark: linear-gradient(90deg, #5b473a, #201f20);
}

html {
	scroll-behavior: smooth;
}

.header,
.not-only,
.about,
.our-friends,
.help,
.in-addition,
.footer {
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
}

.footer {
	color: var(--matte-black);
}

.header,
.not-only {
	color: var(--pink);
}

.core,
.not-only,
.footer {
	background: var(--bg-dark);
}

.container {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: 1024px) {
		padding: 0;
	}
}

.title {
	font-family: Georgia;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.06em;
	text-align: left;
	color: var(--title-black);

	@media (max-width: 1024px) {
		font-size: 32px;
		line-height: 40px;
		max-width: 350px;
		margin: 0 auto 30px;
	}
}

button,
a,
p,
h1,
h2,
span {
	transition: color 0.5s ease-out 0s;
}


svg {
	transition: fill 0.5s ease-out 0s;
}

#transition-none * {
	transition: none !important;
}

.button {
	color: var(--black);
	border-radius: 100px;
	font-family: Georgia;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.06em;
}

//header
.header {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 60px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& h1 {
			font-family: Georgia;
			font-size: 32px;
			line-height: 35px;
			letter-spacing: 0.06em;
		}

		& p {
			font-family: Arial;
			font-size: 13px;
			line-height: 15px;
			letter-spacing: 0.1em;
		}
	}

	&__nav {}

	&__list {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		margin-left: 35px;
	}

	&__link {
		color: var(--pink);
	}
}

//header

//not-only
.not-only {

	&__container {}

	&__body {
		padding-top: 180px;
		display: flex;
	}

	&__column {
		margin-top: 163px;
		height: 322px;
		margin-right: 42px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		color: var(--white);
		font-family: Georgia;
		font-size: 44px;
		line-height: 57px;
		letter-spacing: 0em;
	}

	&__subtitle {
		color: var(--gray);
	}

	&__btn {
		width: 207px;
		height: 52px;
		background: var(--pink);
	}

	&__wallpaper {}
}

//not-only

//about
.about {

	&__container {
		max-width: 930px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		padding: 80px 0 100px;
	}

	&__wallpaper {
		flex: 0 0 300px;
	}

	&__column {
		flex: 0 0 430px;
		display: flex;
		align-items: center;
	}

	&__text {}

	&__title {}

	&__subtitle {
		margin-top: 25px;
		line-height: 24px;
	}
}

//about

//our-friends
.our-friends {

	&__container {}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 80px 0 100px;
	}

	&__header {
		margin: 0 auto;
	}

	&__title {
		text-align: center;
	}

	&__carousel {
		margin: 60px 0;
		height: 435px;
	}

	&__footer {
		margin: 0 auto;
	}

	&__btn {
		width: 261px;
		height: 52px;
		background: var(--pink);
	}
}

.carousel {
	display: flex;

	&__body {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 30px;
	}

	&__card {
		display: grid;
		row-gap: 30px;
	}

	&__img {}

	&__name {
		text-align: center;
		font-family: Georgia;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
	}

	&__btns {
		display: flex;
	}

	&__btn {
		width: 187px;
		height: 52px;
		border: 1px solid var(--pink);
		background: var(--white);
		margin: 0 auto;
	}

	&__arrow {
		flex: 0 0 105px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;

		&_left {
			justify-content: start;
		}

		&_right {
			justify-content: end;
		}
	}

	& .arrow {
		width: 52px;
		height: 52px;
		border-radius: 100%;
		border: 2px solid var(--pink);
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		font-weight: 700;
	}
}

//our-friends

//help
.help {

	&__container {}

	&__body {
		padding: 80px 0 100px;
	}

	&__header {}

	&__title {
		text-align: center;
	}

	&__list {
		margin-top: 60px;
		display: flex;
		column-gap: 120px;
		row-gap: 55px;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {}

	&__icon {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;

		& img {
			width: 60px;
			height: 60px;
		}
	}

	&__name {
		font-family: Georgia;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		text-align: center;
	}
}

//help

//in-addition
.in-addition {

	&__container {
		max-width: 996px;
	}

	&__body {
		display: flex;
		padding: 80px 0 100px;
	}

	&__wallpaper {
		display: flex;
		align-items: center;
	}

	&__column {
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__title {
		font-family: Georgia;
		font-size: 35px;
		font-style: normal;
		font-weight: 400;
		line-height: 45px;
		letter-spacing: 0.06em;
		text-align: left;
	}

	&__bank {
		font-family: Georgia;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0.06em;
		text-align: left;
	}

	&__card {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 349px;
		height: 43px;
		background: var(--pink);
		border-radius: 9px;

	}

	&__icon {
		width: 30px;
		height: 23px;
	}

	&__number {
		font-family: Georgia;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
		letter-spacing: 0.06em;
		text-align: left;
		color: var(--title-black);
	}

	&__post-scriptum {
		font-family: Arial;
		font-size: 12px;
		font-style: italic;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;
		color: var(--dark-gray);
	}
}

//in-addition

//footer

.footer {

	&__container {}

	&__body {
		display: flex;
		height: 350px;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		& a {
			display: flex;
			align-items: center;

			&:hover {
				color: var(--gold);

				& svg {
					fill: var(--gold);
				}
			}
		}

		& svg {
			width: 28px;
			margin-right: 8px;
			transition: fill 0.5s ease 0s;
			fill: var(--white);
		}
	}

	&__year {
		display: flex;
		width: auto;
	}

	&__company {}

	@media (max-width: 1024px) {

		&__year {
			padding-top: 20px;
		}

		&__company {
			padding-bottom: 20px;
		}

		&__body {
			flex-direction: column;
		}
	}
}

//footer